page-profile-menu {

  .card-background-page {
    background: rgba(0, 0, 0, 0.8);
  }

  .rBg{
    background: #EFEFEF;
  }

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title{
    position: absolute;
    top:36%;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
  }

  .iCard{
    background-color: #9ACD32;
    width: block;
    height: 100px;
    border-radius: 10px;
  }

}
