page-soilseries {
  .iBorder{
    border-bottom: solid 1px lightgrey;
  }
  .iHeader{
    font-weight: bold;
    padding-left: 10%;
  }
  .bg{
    background-color: #EFEFEF;
  }
  .grid{
    padding: 0px;
  }
}