page-settings {
  .aboutImg1{
    height: 50%;
    width: 50%;
    margin: auto;
    // margin: 0 auto;
    padding-top: 20px;
  }
  .iBorder{
    border-bottom: solid 1px lightgrey;
  }
  .iHeader{
    font-weight: bold;
    padding-left: 5%;
  }
  .bg{
    background-color: #EFEFEF;
  }
  .grid{
    padding: 0px;
  }
}
