page-legend-modal {
  .soil1{
    width: block;
    height: 100%;
    background-color: #007814;
  }
  .soil2{
    width: block;
    height: 100%;
    background-color: #00f014;
  }
  .soil3{
    width: block;
    height: 100%;
    background-color: #827814;
  }
  .soil4{
    width: block;
    height: 100%;
    background-color: #780078;
  }
  .soil5{
    width: block;
    height: 100%;
    background-color: #1400f0;
  }
  .soil6{
    width: block;
    height: 100%;
    background-color: #fff014;
  }
  .soil7{
    width: block;
    height: 100%;
    background-color: #ff7814;
  }
  .soil8{
    width: block;
    height: 100%;
    background-color: #ff0014;
  }

  .iBorder{
    border-bottom: solid 1px lightgrey;
  }

  .bg{
    background-color: #EFEFEF;
  }

  .grid{
    padding: 0px;
  }

  .rain1{
    width: block;
    height: 100%;
    background-color: #ff0014;
  }
  .rain2{
    width: block;
    height: 100%;
    background-color: #ff7814;
  }
  .rain3{
    width: block;
    height: 100%;
    background-color: #14ff00;
  }
  .rain4{
    width: block;
    height: 100%;
    background-color: #b478ff;
  }
  .rain5{
    width: block;
    height: 100%;
    background-color: #1400f0;
  }

  .land1{
    width: block;
    height: 100%;
    background-color: #00b414;
  }
  .land2{
    width: block;
    height: 100%;
    background-color: #82b414;
  }
  .land3{
    width: block;
    height: 100%;
    background-color: #aab414;
  }
  .land4{
    width: block;
    height: 100%;
    background-color: #e6b414;
  }
  .land5{
    width: block;
    height: 100%;
    background-color: #ff0014;
  }
  .land6{
    width: block;
    height: 100%;
    background-color: #ffb414;
  }
  .land7{
    width: block;
    height: 100%;
    background-color: #d23c14;
  }
  .land8{
    width: block;
    height: 100%;
    background-color: #ff7814;
  }
}
