page-legend-modal {
  .soil1{
    width: block;
    height: 100%;
    background-color: #ff28a81f;
  }
  .soil2{
    width: block;
    height: 100%;
    background-color: #ff43ff69;
  }
  .soil3{
    width: block;
    height: 100%;
    background-color: #ffb4c7a5;
  }
  .soil4{
    width: block;
    height: 100%;
    background-color: #eedc5dff;
  }
  .soil5{
    width: block;
    height: 100%;
    background-color: #ff8f72ff;
  }
  .soil6{
    width: block;
    height: 100%;
    background-color: #ffd2f070;
  }
  .soil7{
    width: block;
    height: 100%;
    background-color: #fff4b988;
  }
  .soil8{
    width: block;
    height: 100%;
    background-color: #fffa101c;
  }

  .iBorder{
    border-bottom: solid 1px lightgrey;
  }

  .bg{
    background-color: #EFEFEF;
  }

  .grid{
    padding: 0px;
  }

  .rain1{
    width: block;
    height: 100%;
    background-color: #ffe9383b;
  }
  .rain2{
    width: block;
    height: 100%;
    background-color: #ffda8d70;
  }
  .rain3{
    width: block;
    height: 100%;
    background-color: #E14FFF6D;
  }
  .rain4{
    width: block;
    height: 100%;
    background-color: #f7ea73ff;
  }
  .rain5{
    width: block;
    height: 100%;
    background-color: #ff8521ff;
  }

  .land1{
    width: block;
    height: 100%;
    background-color: #ff1e7814;
  }
  .land2{
    width: block;
    height: 100%;
    background-color: #ff5fff00;
  }
  .land3{
    width: block;
    height: 100%;
    background-color: #ffff2900;
  }
  .land4{
    width: block;
    height: 100%;
    background-color: #fff7a400;
  }
  .land5{
    width: block;
    height: 100%;
    background-color: #ffff00af;
  }
  .land6{
    width: block;
    height: 100%;
    background-color: #ffeaff00;
  }
  .land7{
    width: block;
    height: 100%;
    background-color: #FF826FFF;
  }
  .land8{
    width: block;
    height: 100%;
    background-color: #ffffedd0;
  }
}
